body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  .monitor-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
  }
  
  .monitor-sub-title {
    text-align: center;
    color: #888;
    font-size: 14px;
  }
  
  .monitor-header {
    padding: 35px 0;
  }
  
  footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
  }
  
  footer a {
    color: #999;
    text-decoration: none;
  }
  
  .weui-footer {
    margin: 25px 0 10px 0;
  }

  .map ul {
      width: 100%;
      overflow: hidden;
      white-space:nowrap;
      
  }
  
  .map ul li {
    float: left;
    list-style: none;
  }

  .map ul li img {
      width: 100%;
  }
